@font-face {
    font-family: "Bad Script";
    src: url(/fonts/BadScript-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
}

.EZSearchResults p {
    margin: 0;
}

form {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.headerA { 
    margin: 0 21px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.shown {
    visibility: visible;
    opacity: 1;
}

#logCurrentMenu p {
    margin: 0;
}

#logCurrentMenu {
    padding: 0;
    background-color: white;
    z-index: 100;
    font-family: Inter;
}

#logCurrentMenu>div {
    padding: 52px 89px 0 89px;
    height: 704px;
}

#logCurrentMenu>div>div:nth-last-child(2) {
    margin-top: 20px;
}

#logCurrentMenu>div>div:nth-last-child(2) {
    margin-top: 20px;
}

.logMenusText {
    font-family: Montserrat;
    font-size: 48px;
    text-align: center;
    line-height: 42px;
}

.inputNS:last-child {
    padding-left: 15px;
}

.inputNS:first-child {
    padding-right: 15px;
}

#signUpE img, #signUpP img {
    margin-top: 29px;
    width: 366px;
    height: 402px;
}

.imgDesc {
    text-align: right;
    width: 366px;
    margin-top: 20px !important;
}

.topDishTag {
    background: rgba(254, 184, 154, 0.59);
    height: 18px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 10%;
}

.topDishText {
    position: relative;
    margin-top: 5px;
}

.topDishTags {
    margin-bottom: 5px;
}

.topDishGoAway, .dishShowRecipe {
    position: absolute;
    background-color: #FEB89A;
    bottom: 0;
    right: 20px;
    width: 108.82px;
    height: 26px;
    font-size: 14px;
    line-height: 67%;
    border-radius: 33px;
}
#profileMiniMenu  {
    background-color: white;
    z-index: 10;
    padding: 20px 10px;
    position: absolute;
    top: 100px;
    left: -57px;
}

#logMenus {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.topDishImgDiv  {
    overflow: hidden;
    border-radius: 2px;
    height: 279px;
}

.topDishImg  {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.dishImg {
    width: 100%;
}

.cardText li {
    list-style-type: none;
}