@font-face {
    font-family: "Bad Script";
    src: url(/fonts/BadScript-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat-Regular.ttf);
}

.EZSearchResults p {
    margin: 0;
}

form {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.headerA { 
    margin: 0 21px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.shown {
    visibility: visible;
    opacity: 1;
}

#logCurrentMenu p {
    margin: 0;
}
div#signInE, div#signInP, div#passwordResetEP, div#passwordResetEC {
    padding: 122px 89px 137px 89px;
    text-align: left;
}

div#signUpE, div#signUpP {
    padding: 122px 44px 137px 89px;
    text-align: left;
}

#logCurrentMenu {
    padding: 0;
    background-color: white;
    z-index: 100;
    font-family: Inter;
}

.logMenuH {
    font-size: 48px;
    display: block;
}

.logMenuP {
    font-size: 19px;
    display:
    inline-block;
    position: absolute;
    top: 4px;
    left: 18px;
}

.logMenuInput {
    position: absolute;
    top: 29px;
    left: 18px;
    border: 0;
    border-bottom: solid 1px black;
    background-color: inherit;
    width: 386px;
    outline:none;
}

.inputHolder, .inputHolderL {
    position: relative;
    display: block;
    background-color: #C4C4C4;
    height: 74px;
    border-radius: 12px;
    margin-bottom: 14px;
}

.inputHolderR {
    width: 425px;
}

.inputHolder:first-child {
    margin-top: 46px;
}

.inputHolderL {
    margin-bottom: 44px;
}

.loMenuBtn  {
    font-size: regular;
    height: 74px;
    width: 392px;
    border: 0;
    background-color: #C4C4C4;
    border-radius: 33px;
    display: block;
}

.logMenusMiniText {
    margin-left: 12px !important;
    display: inline-block;
}

.logMenusMiniText:hover {
    color: blue;
    cursor: pointer;
}

.logMenusMiniText:last-child {
    text-decoration: underline;
    float: right;
}


.inputNS:last-child {
    padding-left: 15px;
}

.inputNS:first-child {
    padding-right: 15px;
}

#signUpE img, #signUpP img {
    margin-top: 29px;
    width: 366px;
    height: 402px;
}

.imgDesc {
    text-align: right;
    width: 366px;
    margin-top: 20px !important;
}

.topDishTag {
    background: rgba(254, 184, 154, 0.59);
    height: 18px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 10%;
}

.topDishText {
    position: relative;
    margin-top: 5px;
}

.topDishTags {
    margin-bottom: 5px;
}

.topDishGoAway, .dishShowRecipe {
    position: absolute;
    background-color: #FEB89A;
    bottom: 0;
    right: 20px;
    width: 108.82px;
    height: 26px;
    font-size: 14px;
    line-height: 67%;
    border-radius: 33px;
}
#profileMiniMenu  {
    background-color: white;
    z-index: 10;
    padding: 20px 10px;
    position: absolute;
    top: 100px;
    left: -57px;
}

#logMenus {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.topDishImgDiv  {
    overflow: hidden;
    border-radius: 2px;
    height: 279px;
}

.topDishImg  {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.dishImg {
    width: 100%;
}

.cardText li {
    list-style-type: none;
}