main>div {
    position: relative;
    margin-top: 80px;
}

.mainContainer  {
    margin-top: 90px;
}

.topDishes {
    margin-bottom: 60px;
}

.topDishesCards {
    position: relative;
    animation-duration: 2s;
    transform: scaleY(1)
}

.nothiddenCard {
    margin-top: 50px;
}

.topDishesText {
    font-family: Bad Script;
    position: relative;
}

.topDishesText button {
    /* font-family: ; */
    position: absolute;
    bottom: 12%;
    right: 3%;
}

.mostPopularDishesText {
    font-size: 42px;
    font-family: Bad Script;
    margin-bottom: 25px;
    margin-top: 120px;
}

.mostPopularDishesCards div:first-child .topDishImgDiv img {
    transform: translateY(-15%);
}

.mostPopularDishesCards .topDishDesc  {
    font-size: 14px;
}

.arrowLT  {
    margin-top: 38px;
    width: 42px;
    height: 63px;
    background-image: url(/images/arrow.png);
    transform: rotate(90deg);
}

.EZSearchText {
    font-size: 42px;
    font-family: Bad Script;
    line-height: 80px;
}

.ingrTypesButton {
    font-family: Montserrat;
    padding: 8px 40px;
    font-size: 16px;
    border-radius: 18px;
    background-color: #F2CEBE;
}

.typesOfIngridients  {
    line-height: 60px;
}


.mainIngrBox p:first-line {
    font-size: 22px;
}