main>div:first-child {
    margin-top: 219px;
}

.dishText {
    text-align: end;
    font-family: Montserrat;
}

.dishText p {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 20px;
}

.dishText li {
    list-style-type: none;
    font-size: 22px;
}

main>.container:first-child .row>.col-6:first-child, main>.container:first-child .row>.col-6:nth-child(2) {
    margin-bottom: 112px;
}

.dishImgDiv {
    overflow: hidden;
}

.stepMainText {
    font-size: 18px;
}

.stepDescText {
    font-size: 22px;
}