<div class="ingridient" style="cursor: pointer;">
    <div class="mainIngrBox" style="background-color: rgba(254, 184, 154, 0.52); border-radius: 17px; text-align: center;  font-family: Inter;">
        <div class="IngrImgBox w-75" style="height: 0; padding-bottom: 75%; background-color: white; overflow: hidden; border-radius: 12px; position: relative; top: -28px; border: .5px solid #F6BAA0; margin-left: 50%; transform: translateX(-50%); overflow: hidden;"><img src="" alt="" style="height: 100%;"></div>
        <p style="line-height: 27px; font-size: 12px;">{{item.i_ingridient}}</p>
        <div style="height: 40px;">
            <img src="/images/{{item.i_image}}" alt="Image not found =(" style="position: relative; top: -400%;">
        </div>


        <input type="checkbox" class="d-none" name="{{item.i_ingridient}}">
    </div>
</div>