<div class="ingridient" style="cursor: pointer;">
    <div class="mainIngrBox" style="background-color: rgba(254, 184, 154, 0.52); border-radius: 17px; text-align: center;  font-family: Inter; padding: 10px 31px;">
        <div class="IngrImgBox" style="width: 111px; height: 99px;  background-color: white; overflow: hidden; border-radius: 12px; position: relative; top: -28px; border: .5px solid #F6BAA0; left: 50%; transform: translateX(-50%);"><img src="" alt="" style="width: 100%;"></div>
        <p style="line-height: 27px; font-size: 22px;">Капуста<br><span style="font-size: 12px;  line-height: 15px;">белокачанная</span></p>
        <input class="d-none" type="radio" name="">
    </div>
</div>