<div class="container">
    <div class="row justify-content-around">
        <div class="col-5 bugReport">
            <p class="mainFH">Нашли ошибку?</p>
            <form action="">
                <textarea name="bugReportText" id="" placeholder="Опишите ошибку..."></textarea>
                <button class="bugReportAccept">Отправить</button>
            </form>
        </div>
        <div class="col-5 offset-2 Media">
            <p class="ms-sm-1 ms-md-5 ms-lg-6 ms-xl-6 ms-xxl-6 mainFH">Наши Соц-сети</p>
            <li class="ms-sm-1 ms-md-5 ms-lg-6 ms-xl-6 ms-xxl-6"><a href=""><img src="/images/Mail.svg" alt=""> ourdoggg@bubamail.bu</a></li>
            <li class="ms-sm-1 ms-md-5 ms-lg-6 ms-xl-6 ms-xxl-6"><a href=""><img src="/images/Whatsapp.svg" alt=""> 899579578647678526</a></li>
            <li class="ms-sm-1 ms-md-5 ms-lg-6 ms-xl-6 ms-xxl-6"><a href=""><img src="/images/Telegram.svg" alt=""> 899579578647678526</a></li>
            <li class="ms-sm-1 ms-md-5 ms-lg-6 ms-xl-6 ms-xxl-6"><a href=""><img src="/images/vk.svg" alt=""> @1tomyum1</a></li>
        </div>
    </div>
</div>